/De Juan/Tarea2_Juan_Angel_Cervantes_Villanueva/SelectImage/build/
/De Juan/Tarea2_Juan_Angel_Cervantes_Villanueva/SelectImage/nbproject/private/
/De Juan/Tarea1_Juan_Angel_Cervantes_Villanueva/CargarImagen/build/
/De Juan/Tarea1_Juan_Angel_Cervantes_Villanueva/CargarImagen/nbproject/private/
/De Juan/Tarea3_Juan_Angel_Cervantes_Villanueva/Tarea3_Juan_Angel_Cervantes_Villanueva/SelectImage/build/
/De Juan/Tarea3_Juan_Angel_Cervantes_Villanueva/Tarea3_Juan_Angel_Cervantes_Villanueva/SelectImage/nbproject/private/
/De Juan/Grabber/dist/